body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    box-sizing: border-box;
}

h2{
    color: #52677d;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bdc4d4;
    padding: 10px;
    width: 30%;
    height: 60%;
    border-radius: 5px;
    gap: 3px;
}
input, textarea{
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #52677d;
    outline: none;
}

textarea{
    height: 30%;
}

button{
    width: 90%;
    padding: 5px;
    color: #ffffff;
    background-color: rgb(47, 185, 53);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}